@model List<ToDoListItem>
@{
    ViewData["Title"] = "Lista do wykonania";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-title">
                Lista rzeczy do zrobienia
            </h2>
        </div>
        <div class="col-6">
            <a asp-controller="ToDo" asp-action="Create" class="btn btn-color">
                <i class="bi bi-plus"></i> Utwóż nową listę
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Tytuł
                </th>
                <th>
                    Do wykonania
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.Description</td>
                        <td>@obj.Progress</td>
                        <td>
                            <p class="w-75 btn-group" role="group">
                                <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-color mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="ToDo" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-color mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                                <a asp-controller="ToDo" asp-action="Done" asp-route-id="@obj.Id" class="btn btn-color mx-2">
                                    <i class="bi bi-pencil-square"></i> Zrobione
                                </a>
                            </p>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>Stwórz listę rzeczy do zrobienia </tr>
            }
        </tbody>
    </table>
</div>